body{
    background-image: linear-gradient(#116466, #2C3531, #116466);
}

.picture {
    height: 348.1px;
    width: 720px;
}

.font {
    font-size: 80px;
    color: #FFCB9A;
    font-family: 'Assistant';
    margin-left: 10%;
}

.subtitle {
    margin-left: 10%;
    color: #D9B08C;
    font-family: 'Assistant';
}

.button {
    font-family: 'Assistant';

}


