#main {
    text-align: center;
    position: fixed; 
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

#SLIDE_BG {
    background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-repeat: no-repeat;  
    width: auto;
    height: 85vh; 
    /* background-position: center;
    backface-visibility: hidden;
    animation: slideBg 15s linear infinite 0s;
    animation-timing-function: ease-in-out;  */
}


/* @keyframes slideBg {

    0% {
        background-image: url(https://images.unsplash.com/photo-1471877325906-aee7c2240b5f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    }

    50% {
        background-image: url(https://images.unsplash.com/photo-1547917244-8bd6c767c32c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)
    }

    50% {
        background-image: url(https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)
    }

    100% {
        background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)
    }

    

}  */